{% load static %}
<html id="demo">
<head>
  <title>GitHubDash by Belmalévi</title>
  <link rel="stylesheet" href="{% static 'css/polls.css' %}">
</head>

<div class="topnav">
  <a class="active" href="{% url 'polls:testGH' %}">Home</a>
  <a href="#news">News</a>
</div>

<h1>
  Organization page {{usergit}}
</h1>
<br>
{% for org in yoka %}
    <li><b>{{ org.login }}</b>
      <ul>
        {% for key,value in yokb.items %}
        <li><a>{{key}} </a></li>
          {% for repo in value %}
          <ul>
            {{repo}}
          </ul>
          {% endfor %}
        {% endfor %}
      </ul>
    </li>
{% endfor %}



</html>
